.env
*.log
.initialized
workspace/tools/faster-whisper/models/*
!workspace/tools/faster-whisper/models/.gitkeep
workspace/telegram-artifacts/*
!workspace/telegram-artifacts/.gitkeep
workspace/shared-files/*
!workspace/shared-files/.gitkeep
workspace/tools/google-calendar/.token-cache.json
